#openMenu,
#closeMenu {
	border: none;
	background: none;
	font-size: 24px;
	font-weight: bold;
	cursor: pointer;
	display: none;
}

#aside-left {
	display: flex;
	flex: 1 1 200px;
	flex-direction: column;
	height: var(--max-height);
	background: var(--main);

	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		position: relative;
		background: var(--main);
		flex-wrap: wrap;

		> div {
			padding: 18px 10px;
			font-size: 16px;
			font-weight: 600;
			text-align: center;
			color: var(--primary);
		}
	}

	#aside-left-nav {
		display: flex;
		flex-direction: column;
		background: var(--primary2);
		flex: 1 1 200px;
		border-top-right-radius: 30px;
		border-top: solid 4px var(--primary2);
		overflow: hidden;
		box-shadow: inset -5px 5px 10px 0px rgba(0, 0, 0, .75);

		::-webkit-scrollbar {
			width: 0;
		}

		::-webkit-scrollbar-track {
			background: var(--main);
		}

		::-webkit-scrollbar-thumb {
			background-color: var(--primary2);
		}

		#title_page {
			font-size: 14pt;
		}

		nav {
			display: grid;
			gap: 4px;
			overflow: auto;

			a, button {
				padding: 15px 18px;
				width: 100%;
				background: rgba(255, 255, 255, .75);
				position: relative;
				transition: background .3s;
				text-transform: uppercase;
				text-decoration: none;
				font-size: 10pt;
				color: var(--primary);
				display: flex;
				align-items: center;
				gap: 4px;

				.material-symbols-outlined {
					font-size: 14pt;
				}

				.label {
					font-weight: 600;
					transition: .25s;
				}
			}

			a:hover, button:hover {
				background: #fff;

				.label {
					font-weight: 700;
				}
			}

		}
	}
}

@media only screen and (max-width: 717px) {

	#openMenu,
	#closeMenu {
		display: flex;
		justify-items: center;
	}

	#aside-left {
		display: none;
		width: 100vw;
		position: fixed;
		top: 4rem;
		bottom: 0;
		background: var(--primary2);
		opacity: 0;
		transition: 0.3s;
		z-index: 999;

		.header {
			#closeMenu {
				display: flex;
				align-items: center;
				color: rgb(150, 20, 20);
				height: 100%;
				z-index: 10;
				padding: 15px;
			}
		}

		#aside-left-nav {
			border-top-right-radius: 0;
		}
	}
}
